.horizontal-gallery-title {
    text-align: center;
    margin: 40px auto;

    h2 {
        font-size: 22px;
        letter-spacing: 3px;
    }
}

.horizontal-gallery-container {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    margin: 40px auto;

    img {
        height: auto;
        width: 340px;
    }
}

@media screen and (min-width: 640px) {
    .horizontal-gallery-container {
        width: 80%;
    }
}