.jumbotron {
    .nav {
        float: right;

        li {
            list-style-type: none;
            display: inline;
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 640px) {
    .jumbotron {
        .nav {
            float: none;

            ul {
                text-align: center;
                padding: 10px 0 0 0;
                margin-top: 0;
            }
        }
    }
}