/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.social-icons a {
  color: #0097A7;
}

.social-icons a:hover {
  color: #006064;
}

.nav-item {
  text-transform: lowercase;
  font-size: 16px;
}

.column a {
  color: #0097A7;
}

.fa-arrow-up {
  color: #0097A7;
}

.subtitle a {
  color: #0097A7;
}

.subtitle a:hover {
  color: #006064;
}

img.avatar {
  max-width: 100%;
}

@media only screen and (min-width: 550px) {
  img.avatar {
    max-width: 40%;
  }
}
